body {
  /* margin: 2%; */
  /* border: 1px solid black; */
  background-color: #c0c0c0;
}

main,
header,
a {
  font-family: Helvetica, Arial, sans-serif;
}

#display,
#imgName,
#imgDesc {
  display: none;
}

.thumbnail {
  width: 85%;
  /* border: 10px solid black; */
}

#gallery,
.description,
.sample {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 2% 2% 2% 2%;
}

img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}


.sample {
  display: grid;
  justify-items: center;
  border: 5px solid #000;
  height: 100%;
  background-color: #ffffff;
}
#displayFacts iframe {
  display: none;
}
/* Tablet format, optimized for tap inputs */
@media screen and (min-width: 800px) {
  #gallery {
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }

  .sample:last-child {
    grid-column: 1/-1;
  }

  iframe {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  #displayImg {
    display: flex;
    width: 388px;
    height: 325px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border: 5px solid black;
    margin: 0 auto;
    padding: 0px 10px;
    color: #ffffff;
    background-color: #6e3dff;
    background-size: 100%;
    margin-bottom: 25px;
    font-size: 150%;
    object-fit: inherit;
    background-size: cover;

    /*For when the image appears*/
    background-repeat: no-repeat;
  }

  #displayFacts {
    display: grid;
    height: 250px;
    justify-items: center;
  }


  #imgName,
  #imgDesc,
  #imgPlayer {
    display: grid;
    /* width: 50%; */
    align-items: center;
  }

  #imgName {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }
  #imgDesc {
    font-size: large;
    text-align: center;
    width: 70%;
    position: relative;
  }

  #gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sample:last-child {
    grid-column: inherit;
  }

  .player {
    display: none;
  }

  .description {
    display: none;
  }

  .sample {
    background-color: #000;
  }



  #gallery>#card:last-child {
    grid-column: initial;
  }

  #displayFacts iframe {
    display: block;
  }
}



