.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2.5%;
  margin-top: 10px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  width: 95%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: #000 5px solid;
}

.card:nth-child(even){
  background-color: white;
  color: #000;
}
.card:nth-child(odd){
  background-color: black;
  color: white;
}
.card > img {
  width: 90%;
}

body{
  background-color: #000;
}

.card > table {
  width: 100%;
}

th {
  text-align: right;
}

table{
    font-size:small;
}

.intro{
  color: #FFF;
}

@media screen and (min-width: 800px) {
    .card:nth-child(1), .card:nth-child(8){
        font-family:"VT323", monospace;
        width: 100%;
    }
  .card:nth-child(odd){
    background-color: white;
    color: #000;
  }
  .card:nth-child(even){
    background-color: black;
    color: white;
  }
  .gallery{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
  }
  .card{
    width: 45%;
    justify-content: space-evenly;
  }
  img{
    width: 330px;
    height: 225px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
    .card{
        width: 30%;
        min-height: 300px;
    }
    .card:nth-child(1), .card:nth-child(8){
        min-height: inherit;
    }
}
